* {
    -webkit-tap-highlight-color: rgba(0,0,0,0); 
}
* {
    -webkit-tap-highlight-color: rgba(0,0,0,0); 
}
body,html{
	width: 100%;
	height: 100%;
	background:#eaebed
}

.mainPage{
	width: 100%;
	height: 100%;
	position:relative;
	z-index: 1;
	text-shadow:none;
}

.navigation-bar {
  font-family: 'Helvetica Neue', Helvetica, Arial, 'Lucida Grande', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: 400;
  font-size: 17px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  z-index: 2;
  display: block;
  height: 44px;
  padding-left: 0;
  padding-right: 0;
  background: #6F6F6F;
  color: #1f1f21;
  -webkit-box-shadow: none;
  box-shadow: none;
  border-bottom: 1px solid #ddd;
  font-weight: 400;
  width: 100%;
  white-space: nowrap;
  
}
@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
  .navigation-bar {
    border-bottom: none;
    -webkit-background-size: 100% 1px;
    background-size: 100% 1px;
    background-repeat: no-repeat;
    background-position: bottom;
    background-image: -webkit-linear-gradient(90deg, #ddd, #ddd 50%, transparent 50%);
    background-image: -moz-linear-gradient(90deg, #ddd, #ddd 50%, transparent 50%);
    background-image: -o-linear-gradient(90deg, #ddd, #ddd 50%, transparent 50%);
    background-image: linear-gradient(0deg, #ddd, #ddd 50%, transparent 50%);
  }
}
.back_icon_wrap {
  	position: absolute;
  	height: 44px;
  	width: 100%;
  	line-height: 44px;
}
.back_icon_wrap .back_icon{
	width: 16px;
	height: 16px;
	background: url("../img/left-r.png") no-repeat 0 0;
	background-size: cover;
	position: absolute;
	top: 50%;
	left: 5%;
	margin-top: -7px;
}
.navigation-bar__bg {
  background: #f8f8f8;
}
.navigation-bar__item,
.navigation-bar__left,
.navigation-bar__right,
.navigation-bar__center {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  padding: 0;
  margin: 0;
  font: inherit;
  color: inherit;
  background: transparent;
  border: none;
  line-height: normal;
  height: 44px;
  float: left;
  position: relative;
}
.navigation-bar__left {
  max-width: 50%;
  width: 15%;
  text-align: left;
}
.navigation-bar__right {
  max-width: 50%;
  width: 15%;
  text-align: right;
  position: relative;
}
.navigation-bar__center {
  width: 70%;
  text-align: center;
  font-size: 16px;
  font-weight: 500;
}
.navigation-bar__title {
  line-height: 44px;
  font-size: 16px;
  font-weight: 500;
  color: #1f1f21;
  margin: 0;
  padding: 0;
  overflow: visible;
}
.navigation-bar__center>div:first-child{
	height: 28px;
	font-size: 16px;
	line-height: 28px;
	color: #fff;
}
.navigation-bar__center>div:last-child{
	height: 16px;
	font-size: 10px;
	line-height: 16px;
	color: #eee;
}
.navigation-bar__center:first-child:last-child {
  width: 100%;
}

.toolbar-button,
.toolbar-button--outline,
.toolbar-button--quiet {
  font-family: 'Helvetica Neue', Helvetica, Arial, 'Lucida Grande', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: 400;
  font-size: 17px;
  padding: 4px 10px;
  letter-spacing: 0;
  color: #1284ff;
  text-shadow: 0 1px none;
  vertical-align: baseline;
  background-color: rgba(0,0,0,0);
  -webkit-border-radius: 2px;
  border-radius: 2px;
  border: 1px solid transparent;
  -webkit-transition: none;
  -moz-transition: none;
  -o-transition: none;
  transition: none;
  vertical-align: middle;
}
.toolbar-button:active,
.toolbar-button--outline:active,
.toolbar-button--quiet:active {
  background-color: rgba(0,0,0,0);
  -webkit-transition: none;
  -moz-transition: none;
  -o-transition: none;
  transition: none;
  opacity: 0.2;
}
.navigation-bar__right .connectStatus{
	width: 10px;
	height: 10px;
	display: inline-block;
	border-radius: 50%;
	position: absolute;
	top: 50%;
	margin-top: -3px;
	right: 5px;
}
.navigation-bar__right .disconnected{
	background: #AFA8A2;
}
.navigation-bar__right .connected{
	background: #00FD14;
}

/*
*tabContent
*/
.tab{
	position: absolute;
	z-index: 1;
	top: 44px;
	left: 0;
	right: 0;
	bottom: 3.75em;
	overflow: auto;
}
.tabContent{
	width: 94%;
	height: 100%;
	display: none;
	margin: 0 auto;
	color: #42465b;
}
.selected{
	display: block;
}
.addLeft{
	margin-left: 0.75em;
}

.inputInfo textarea{
	display: block;
	margin: 0 auto;
	width: 100%;
	height:100%;
	overflow-x: hidden;
	border:none;
	box-sizing:border-box;
	border: #9c9c9c solid 1px; 
	resize:none;
}
.inputInfo textarea:focus{
	outline: none;
}

.btn{
	padding-top:0.25em;
	padding-bottom:0.25em;
	-webkit-user-select:none;
}
.radioBtn{
	height:1.5em;
	position: relative;
}
.radio .control{
	position: relative;
}
.radioBtn input{
	display: none;
}

.radioBtn i{
	display: inline-block;
	width: 1.3125em;
	height: 1.3125em;
	background: url("../img/cssSprite.png") no-repeat;
	background-size: 100% 100%;
}
.radioBtn i.active{
	background: url("../img/2.png") no-repeat;
	background-size: 100% 100%;
}


.selectBtn{
	position: relative;
	height: 1.8125em;
}
.selectBtn .cycleSend{
	margin-left: 1.5em;
}
.selectBtn i{
	display: inline-block;
	position: absolute;
	top: 50%;
	margin-top: -0.6262em;
	width: 1.3125em;
	height: 1.3125em;
	background: url("../img/check.png");
	background-size: 100% 100%;
}
.selectBtn .control span{
	margin-left: 0.75em;
}
.selectBtn .sendInterval{
	position: relative;
	color: #b7b9c1;
	margin: 0.5em 0;
	padding:0.7em 0;
}
.selectBtn .active{
	color: #42465b;
}
.sendInterval input.default{
	box-sizing:border-box;
	display: inline-block;
	padding:0.125em;
	width: 3em;
	outline: none;
	border: 0.125em solid #b7b9c1;
	border-radius: 0.3em;
	background: #efeff1;

}
.sendInterval input.active{
	border-color: #ff7e00;
	background: #fff;
}

.sendBtn{
	box-sizing:border-box;
	border: 0.0625em solid #e37000;
	border-radius: 0.3em;
	background: #ff7e00;
	display: inline-block;
}

.send{
	border-top: 0.0625em solid #ff9e3f;
	border-radius: 0.3em;
	text-align:center;
	padding: 0.5em 1.5em;
	font-size: 1em;
	color:#fff;
}

.addResponse{
background: #AFA8A2;
}
.tab_bar{
	position:fixed;
	bottom: 0;
	z-index:1;
	width: 100%;
	overflow: hidden;
	height: 3.75em;
	background: transparent;
}
.tabOption{
	box-sizing: border-box;
	width: 100%;
	height: 100%;
	display: table;
	table-layout: fixed;
}

.tabOption li{
	display: table-cell;
	box-sizing:border-box;
	width: auto;
	height: 3.75em;
	line-height: 4em;
	text-align: center;
	color: #fff; 
}
.selectedLi{
	background:url("../img/active.png") no-repeat;
	background-size: 100% 100%;

}
.defaultLi{
	background: url("../img/default.png") no-repeat;
	background-size: 100% 100%; 
}
.tabContent #DSPSinfo{
	left: 0;
	right: 0;
	text-align: center;
}
.tabContent .title{
	height: 4em;
	line-height: 4em;
}

.tabContent .about{
	height: 2em;
	line-height: 2em;
}


.tabContent .fileStreaming{
	height: 4em;
	line-height: 6em;

}
.tabContent .outerLine{
	margin-top: 1em;
	margin-bottom: 1em;
	margin-left: 0.3em;
	border-top: 1px solid #ff9e3f;
	border-bottom: 1px solid #ff9e3f;
	background: #dea063;
	width: 80%;
	height: 1em;
}
.tabContent .innerLine{
	margin-left: 0.3em;
	background: #a75403;
	width: 0;
	height: 1em;
}
.tabContent input[type="file"]{
	margin: 1em auto;
}

#content li{
	padding: 0.5em 0;
	text-indent: 2em;
}

#connectionInterval{
	display: block;
}
